html
	body
		h3
			a(href="/") back
		if url.endsWith("/tab1")
			span tab1
			a(href=`/${base}/tab2`) tab2
			h1 tab1
		else
			a(href=`/${base}/tab1`) tab1
			span tab2
			h1 tab2
		p Here is a lolcat:
		img(src=lolcat)

